@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&display=swap');


@import "tailwindcss";


body {
  margin: 0;
  font-family: 'Inter', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input::placeholder {
  color: #A6B7C9 !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}


.paddinglr-8{
  padding-left: 8px;
  padding-right: 8px;
}
.paddingtb-4{
  padding-top: 4px;
  padding-bottom: 4px;
}
.paddinglr-24{
  /* padding-left: 24px;
  padding-right: 24px; */
  display: flex;
  gap: 24px;
  width: fit-content;
}


.mtb-16{
  margin-top: 16px;
  margin-bottom: 16px;
}
.mt-60{
  margin-top: 60px;
}
.mt-24{
  margin-top: 24px;
}
.mt-20{
  margin-top: 20px;
}
.mt-16{
  margin-top: 16px;
}
.mt-12{
  margin-top: 12px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-2 {
  margin-top: 2px;
}
.mt-0 {
  margin-top: 0px;
}
.mb-0 {
  margin-bottom: 0px;
}
.mb-8{
  margin-bottom: 8px;
}
.mb-16{
  margin-bottom: 16px;
}
.padding-24{
  padding: 24px;
}
.paddingTop-16{
  padding-top: 16px;
}
.paddingTop-12{
  padding-top: 12px;
}
.paddingTop-20{
  padding-top: 20px;
}
/* Font Size */
.f-14 {
  font-size: 14px;
}

.darkBlue {
  color: #3B86B1;
}

.blue {
  color: var(--mainBlue) !important;
}

.red {
  color: var(--mainRed) !important;
}

.gray {
  color: var(--darkGray) !important;
}

/* End */

.capitalize {
  text-transform: lowercase;
}

select option{
  font-family: 'Inter', sans-serif !important;
  font-weight: 500 !important;
}

.disabledBorder{
border: 1px solid var(--lightGray2) !important;
} 
.disabledColor{
color: var(--darkGray) !important;
}

.w-auto{
  width: auto !important;
}

.lableFlex{
  display: flex;
  gap: 8px;
  margin-top: 12px;
}
.lableFlex p{
  font-family: Inter;
font-size: 12px !important;
font-weight: 700;
line-height: 14px;
letter-spacing: 0em;
margin: 0 !important;
}
.lableFlex span{
  padding: 4px 12px;
  border-radius: 20px;
}
.lableFlex .blue{
color: #00BBBB;
}
.lableFlex .red{
color: #F44336;
}
.lableFlex .yellow{
color: #F59C48;
}
.bgDark{
  background-color: var(--mainBlack);
  color: #fff;
}
.bgDarkShade {
  background-color:var(--dark2);
}
.cursorPointer{
  cursor: pointer;
}
.justify-start{
  justify-content: flex-start;
}
.justify-center{
  justify-content: center;
}
.justify-space{
  justify-content: space-between;
}
.justify-end{
  justify-content: flex-end;
}
.align-end{
  align-items: flex-end;
}
.align-start{
  align-items: flex-start;
}
.align-space{
  align-items: space-between;
}
.background-cover{
  background-size: cover;
}
.align-center{
  align-items: center;
}
.text-end{
  text-align: end;
}
.text-center{
  text-align: center;
}
.text-underline{
  text-decoration: underline;
  text-underline-offset: 2px;
}


/* new */

.grid-row-2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.flexCont{
  display: flex;
}
.flex-item-expand{
  flex-basis: 100%;
}
.flex-row{
  display: flex;
flex-direction: row;
}
.flex-column{
  display: flex;
flex-direction: column;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-grow{
  flex: 1 1 auto
}
.flex-gap-4{
  gap: 4px;
}
.flex-gap-8{
  gap: 8px;
}
.flex-gap-12{
  gap: 12px;
}
.flex-gap-16{
  gap: 16px;
}
.flex-gap-20{
  gap: 20px;
}
.flexCont svg{
  flex-shrink: 0;
}

.mt-4{
  margin-top:4px !important;
}
.mt-40{
  margin-top: 40px;
}
.margintb-60{
  margin: 60px auto;
}
.margintb-40{
  margin: 40px auto;
}
.marginlr-60{
  margin: auto 60px;
}
.marginlr-40{
  margin: auto 40px;
}
.marginlr-16{
  margin: auto 16px;
}
.paddingt-60{
  padding-top: 60px !important;
}
.paddingt-56{
  padding-top: 56px !important;
}
.paddingtb-60{
  padding-top: 60px;
  padding-bottom: 60px;
}
.paddingtb-58{
  padding-top: 58px;
  padding-bottom: 58px;
}
.paddingtb-56{
  padding-top: 56px;
  padding-bottom: 56px;
}
.paddingtb-48{
  padding-top: 48px;
  padding-bottom: 48px;
}
.paddingtb-40{
  padding-top: 40px;
  padding-bottom: 40px;
}
.paddingtb-12{
  padding-top: 12px;
  padding-bottom: 12px;
}
.paddingtb-2{
  padding-top: 2px;
  padding-bottom: 2px;
}
.paddinglr-60{
  padding-left: 60px;
  padding-right: 60px;
}
.paddinglr-40{
  padding-left: 40px;
  padding-right: 40px;
}
.paddinglr-80{
  padding-left: 80px;
  padding-right: 80px;
}
.paddinglr-16{
  padding-left: 16px;
  padding-right: 16px
}
.paddinglr-6{
  padding-left: 6px;
  padding-right: 6px;
}
.padding-40{
  padding: 40px;
}
.padding-32{
  padding: 32px;
}
.padding-28{
  padding: 28px;
}
.padding-24{
  padding: 24px;
}
.padding-16{
  padding: 16px;
}
.padding-12{
  padding: 12px;
}
.padding-8{
  padding: 8px;
}
.mb-12{
  margin-bottom: 12px;
}
.mb-14{
  margin-bottom: 14px;
}
.mb-20{
  margin-bottom: 20px;
}
