@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&display=swap');


@import "tailwindcss";




:root {
  /* new */
  --mainBlue: rgba(44, 131, 232, 1);
  --mainBlue3:#63BBF7;
  --mainBlue4:#C0E4FD;
  --darkBlue1:#0064FF;
  --textBlue:#0064FF;
  --labelBlue:#0052CC;
  --mainWhite:rgba(255, 255, 255, 1);
  --secWhite:rgba(250, 250, 252, 1);
  --newlightBlue:rgba(236, 252, 255, 1);
  --newlightBlue1:#DCEFFD;
  --newlightBlue2:rgba(236, 242, 248, 1);
  --newlightBlue3:#D6EEFF;
  --newlightBlue4: #E5F0FF;
  --lightBlueInner: rgba(232, 242, 252, 1);
  --darkBackground:rgba(15, 28, 42, 1);
  /* new */
  /* --mainBlue: #2C83E8; */
  --mainBlue2: #2C83E8;
  --mainBlack: #324252;
  --mainBlack2:#54555B;
  --mainBlack3: #192129;
  --NewlightGray1:#F2F5F7;
  --NewlightGray2:#90A5BB;
  --NewlightGray3:#E9EDF1;
  --NewdarkGray1:#6784A2;
  --NewdarkGray2:#A6B7C9;
  --NewlightGray4:#F3F4F8;
  --NewlightGray5:#AABCCF;

  --secSurfaceGray: #F5F7FA;

  --lightYellow:#FFF8EB; 

  --dark:#000000;
  --dark2:#0F1C2A;
  --white:#ffffff;
  --lightBlack: #707070;
  --darkGray: #a0a0a0;
  --darkGray1:#486381;
  --lightGray1: #f4f4f4;
  --lightGray2: #e0e0e0;
  --lightGray3:#fafafa;
  --lightGray4:#e5e5e5;
  --lightGray5:#777986;
  --lightGray6:#9496A1;
  --lightGray7:#D2d4da;
  --lightGray8:#EBEEF3;
  --mainGreen1: #25D366;
  --mainGreen2: #00C781;
  --darkBlue: #3B87B1;
  --mainRed: #ff4040;
  --mainWhite: #ffffff;
  --mainYellow:#ECAD47;
  --titleClr : #091e25;
  --paraGray :#686868;
  --borderGray : #bcbcbc;
  --bgLightBLue : rgba(243, 244, 248, 1);
  --lightBlue:#7AC5CD;
  --mainGreen:#BCE29E;
  --darkYellow: #7A5000;
  --darkYellow1: #FFBB38;
  --lightGreen:#f0ffe3;
  --lightYellow:#FFF1E3;
  --lightYellow1: #FFF8EB;
  --darkRed:#F44336;
  --lightRed: #FEEDEC;
  --darkGray2:#3a3a3a;
  --lightBlue2:#CFE9FF;
  /* --lightBlue3:#F3F4F8; */

   /* Hecta Prime */
   
   --mainBrown:#35302A;
   --lightBrown:#F1ECE8;
   --lightBrown1:#C5B4A3;
   --darkBrown1:#8E8073;


   /* new colors */

    --gray300: #BDC9D6;
    --gray500:#90A5BB;
    --gray100:#E9EDF1;

    /* green  */

    --green500: #00BE5F;
    --green50 : #E0FFF0;
    --green800: #007A3D;
}


body {
  margin: 0;
  font-family: 'Inter', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input::placeholder {
  color: var(--NewlightGray2) !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}


code {
  font-family: 'Inter', sans-serif;
}

/* @media (max-width:767px){
    body{
      padding: 0 16px;
    }
   } */
.allContent {
  padding: 20px 20px 0;
  margin-top: 60px;
}
.nbcc-plp .allContent {
  margin-top: 100px;
}
  
.pad-20{
  padding: 20px;
}
.padding-4 {
  padding: 4px;
}
.padding-20 {
  padding: 10px;
}
.padding-16{
  padding: 16px;
}
.paddingTop-24{
  padding: 12px;
}
.allContent60 {
  padding: 0 40px;
}
.br-8{
  border-radius: 8px;
}
.br-12{
  border-radius: 12px !important;
}
.br-16{
  border-radius: 16px;
}
.br-20{
  border-radius: 20px;
}
.br-28{
  border-radius: 28px;
}
.br-40{
  border-radius: 40px;
}
.br-50{
  border-radius: 50px;
}
.m-all-10{
  margin: 10px;
}
.m-all-20{
  margin: 20px;
}
.m-all-24{
  margin: 24px;
}
.m-all-12{
  margin: 12px;
}
.m-all-0{
  margin: 0px !important;
}
/* .nbcc-pdp .allContent60 {
  margin-top: 100px;
} */
.nowrap{
  white-space: nowrap;
}
/* text  */
.mainBlack{
  color: var(--mainBlack) !important;
}
.mainBlack3{
  color: var(--mainBlack3) !important;
}
.secText{
  color: var(--NewlightGray2) !important;
}
.blueText{
  color: var(--mainBlue);
}
.primaryBlueLabel{
  color: var(--labelBlue);
}
.darkblueText{
  color: var(--darkBlue1);
}
.lightGrayText{
  color: var(--NewlightGray1)
}
.darkGrayText{
  color: var(--NewdarkGray1)
}



/* font  */
.font-40{
  font-size: 40px;
}
.font-32{
  font-size: 32px;
}
.font-28{
  font-size: 28px;
}
.font-20{
  font-size: 20px;
}
.font-16{
  font-size: 16px;
}
.font-14{
  font-size: 14px;
}
.font-12{
  font-size: 12px;
}
.font-10{
  font-size: 10px;
}
.fontw-700{
  font-weight: 700;
}
.fontw-500{
  font-weight: 500;
}



.blueShadeBtn {
  background: var(--mainBlue);
  border-radius: 4px;
  border: none;
  padding: 10px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  border: 1px solid var(--mainBlue);
  text-decoration: none;
}

.disableBtn {
  background: var(--lightGray2);
  border-radius: 4px;
  border: none;
  padding: 10px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: var(--darkGray);
  border: 1px solid var(--lightGray2);
  cursor: no-drop !important;
}

.saveBtn {
  background: var(--mainBlue);
  border-radius: 4px;
  border: none;
  padding: 10px 30px;
  width: auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  border: 1px solid var(--mainBlue);
}

.whiteShadeBtn {
  background: var(--mainWhite);
  border: 1px solid var(--mainBlack);
  border-radius: 8px;
  padding: 12px 20px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: var(--mainBlack);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-decoration: none;
}
.tabView{
  display: none;
}
.visOntab{
  display: none;
}
.hideOntab{
  display: block !important;
}
.hideDesk {
  display: none;
}
.hideonMob{
  display: block;
}
.hideonDesk{
  display: none;
}
.displayNone{
  display: none;
}
.padding8 {
  padding: 4px;
}
.text-upper{
  text-transform: uppercase
}
.paddingtop {
  padding-top: 80px;
}
.pt-12{
  padding-top: 12px;
}
.pt-24{
  padding-top: 24px;
}
.nbcc-pdp .paddingtop {
  padding-top: 120px;
}

.clearFilterBtn {
  font-family: 'Inter', sans-serif;
}

.scrollTable {
  overflow-x: auto;
}

@media (max-width:768px) {
  #filtersPannel {
    display: none;
  }

  .paddingtop {
    padding-top: 80px;
  }

  .allContent {
    padding: 12px 12px 0;
  }
  /* .nbcc-plp .allContent {
    margin-top: 100px;
  } */

  .hideMob {
    display: none;
  }

  .padding-20 {
    padding: 6px;
  }
  .hideOntab{
    display: none !important;
  }

}
.paddinglr-8{
  padding-left: 8px;
  padding-right: 8px;
}
.paddingtb-4{
  padding-top: 4px;
  padding-bottom: 4px;
}
.paddinglr-24{
  /* padding-left: 24px;
  padding-right: 24px; */
  display: flex;
  gap: 24px;
  width: fit-content;
}

.btnDark {
  background: #2C83E8;
  border-radius: 8px;
  color: #fff !important;
  padding: 10px 20px !important;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid #2C83E8 !important;
}
.reqLoan{
  background: #FFFFFF !important;
  color: black !important;
  border: 1px solid #B3B5BD !important;


}
.reqLoan:hover{
  color: black !important;

}

.widthAuto{
  width: auto !important;
}
.btnDisabled {
  background: var(--lightGray2);
  border-radius: 4px;
  color: var(--darkGray) !important;
  padding: 10px 20px !important;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid var(--lightGray2);
  cursor: not-allowed;

}

.bgGray {
  background-color: var(--lightGray4);
}
.bgLightGray {
  background-color: var(--lightGray1);
}
.bgLightGray1 {
  background-color: var(--lightGray3);
}

.bgWhite {
  background-color: #fff;
}

.bgLightBlue{
  background-color: var(--bgLightBLue);
}

.width-100 {
  width: 100% !important;
}
.width-auto {
  width: auto !important;
}
.width-content {
  width: fit-content !important;
}
.width-50 {
  width: 50% !important;
}
.height-36{
  height: 36px !important;
}

.navLink {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--lightBlack);
  text-decoration: none;
}

.navLink:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--mainBlack);
  text-decoration: none;
}

.groupBox {
  display: flex;
  gap: 12px;
}


.w-auto {
  width: auto;
}
.mtb-16{
  margin-top: 16px;
  margin-bottom: 16px;
}
.mt-60{
  margin-top: 60px;
}
.mt-24{
  margin-top: 24px;
}
.mt-20{
  margin-top: 20px;
}
.mt-16{
  margin-top: 16px;
}
.mt-12{
  margin-top: 12px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-2 {
  margin-top: 2px;
}
.mt-0 {
  margin-top: 0px;
}
.mb-0 {
  margin-bottom: 0px;
}
.mb-8{
  margin-bottom: 8px;
}
.mb-16{
  margin-bottom: 16px;
}
.padding-24{
  padding: 24px;
}
.paddingTop-16{
  padding-top: 16px;
}
.paddingTop-12{
  padding-top: 12px;
}
.paddingTop-20{
  padding-top: 20px;
}
/* Font Size */
.f-14 {
  font-size: 14px;
}

.darkBlue {
  color: #3B86B1;
}

.blue {
  color: var(--mainBlue) !important;
}

.red {
  color: var(--mainRed) !important;
}

.gray {
  color: var(--darkGray) !important;
}

/* End */

.capitalize {
  text-transform: lowercase;
}

select option{
  font-family: 'Inter', sans-serif !important;
  font-weight: 500 !important;
}

.disabledBorder{
border: 1px solid var(--lightGray2) !important;
} 
.disabledColor{
color: var(--darkGray) !important;
}

.w-auto{
  width: auto !important;
}

.lableFlex{
  display: flex;
  gap: 8px;
  margin-top: 12px;
}
.lableFlex p{
  font-family: Inter;
font-size: 12px !important;
font-weight: 700;
line-height: 14px;
letter-spacing: 0em;
margin: 0 !important;
}
.lableFlex span{
  padding: 4px 12px;
  border-radius: 20px;
}
.lableFlex .blue{
color: #00BBBB;
}
.lableFlex .red{
color: #F44336;
}
.lableFlex .yellow{
color: #F59C48;
}
.bgDark{
  background-color: var(--mainBlack);
  color: #fff;
}
.bgDarkShade {
  background-color:var(--dark2);
}
.cursorPointer{
  cursor: pointer;
}
.justify-start{
  justify-content: flex-start;
}
.justify-center{
  justify-content: center;
}
.justify-space{
  justify-content: space-between;
}
.justify-end{
  justify-content: flex-end;
}
.align-end{
  align-items: flex-end;
}
.align-start{
  align-items: flex-start;
}
.align-space{
  align-items: space-between;
}
.background-cover{
  background-size: cover;
}
.align-center{
  align-items: center;
}
.text-end{
  text-align: end;
}
.text-center{
  text-align: center;
}
.text-underline{
  text-decoration: underline;
  text-underline-offset: 2px;
}


/* new */

.grid-row-2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.flexCont{
  display: flex;
}
.flex-item-expand{
  flex-basis: 100%;
}
.flex-row{
  display: flex;
flex-direction: row;
}
.flex-column{
  display: flex;
flex-direction: column;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-grow{
  flex: 1 1 auto
}
.flex-gap-4{
  gap: 4px;
}
.flex-gap-8{
  gap: 8px;
}
.flex-gap-12{
  gap: 12px;
}
.flex-gap-16{
  gap: 16px;
}
.flex-gap-20{
  gap: 20px;
}
.flexCont svg{
  flex-shrink: 0;
}
.fixedNav{
  position: fixed;
  width: 100%;
  z-index: 100;
}
.no-scroll {
  overflow: hidden;
  height: 100%;
}
.mainWhiteBackground{
  background-color: var(--mainWhite);
}
.darkblueBackground{
  background-color: var(--darkBlue1);
}
.darkGrayBackground{
  background-color: var(--darkGray1);
}
.lightGrayBackground{
  background-color: var(--NewlightGray1)
}
.lightGreenBackground{
  background-color: var(--green50)
}
.darkGreenBorder{
  border: 1px solid var(--green500);
}


.secBackground{
  background-color: var(--secWhite);
}
.secGrayBackground{
  background-color: var(--secSurfaceGray);
}
.darkBackground{
  background-color: var(--darkBackground);
}
.mainBlueBackground{
  background-color: var(--mainBlue);
}
.lightBlueBackground{
  background-color: var(--newlightBlue);
}
.lightBlueBackground2{
  background-color: var(--newlightBlue4);
}


.mainBrownBackground{
  background-color: var(--mainBrown);
}
.mainlightbrown{
  background-color: #8E8073;
  height: 52px;
}
.Brown2Background{
  background-color: var(--darkBrown1);
}
.off-white{
  background-color: #F1ECE8;
}
.lightBrownBackground{
  background-color: var(--lightBrown);
}
.lightBrown1Background{
  background-color: var(--lightBrown1);
}
.mainWhiteText{
  color:var(--mainWhite)
}
.lightBrownText{
  color: var(--lightBrown1);
}
.darkBrownText{
  color:var(--darkBrown1)
}
.subText2{
  margin-top:8px;
font-size: 48px;
font-weight: 700;
/* line-height: 48px; */
letter-spacing: -0.02em;
text-align: center;
color:rgba(15, 28, 42, 1);
}
.belowsubText2{
  margin-top:8px;
font-size:32px;
font-weight: 700;
/* line-height: 48px; */
letter-spacing: -0.02em;
text-align: center;
color:rgba(15, 28, 42, 1);
}

.subText1{
  font-size: 12px;
  font-weight: 700;
  /* line-height: 15px; */
  letter-spacing: 0.12em;
  text-align: center;
  color:rgba(148, 150, 161, 1);
  
}
.subText3{

  margin: auto;
  width: 600px;
font-size: 14px;
font-weight: 500;
/* line-height: 17px; */
letter-spacing: 0em;
text-align: center;
color: rgba(91, 93, 104, 1);
margin-top: 20px;
}

.contentCards, .contentCardsHover{
  padding: 24px;
background-color: var(--mainWhite);
 border-radius: 16px;
  width: calc(33% - 20px);
  box-shadow: 0px 4px 40px 0px rgba(44, 131, 232, 0.08);
}
.contentCardsContainer{
margin-top: 40px;
display: flex;
flex-direction: row;
gap: 20px;
padding: 24px;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.contentCardIcon{
background-color: var(--lightBlueInner);
padding: 8px;
border-radius: 8px;
margin-bottom: 20px;
width: fit-content;
}
.contentCardText1{
margin-bottom: 12px;
  font-size: 14px;
font-weight: 700;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
color:rgba(44, 131, 232, 1);
}
.contentCardText2{
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color:rgba(91, 93, 104, 1);
}
.contentCardsHover:hover{
  .contentCardText1, .contentCardText2{
    color: var(--mainWhite);
  }
  background-color: var(--mainBlue);
}
.mt-4{
  margin-top:4px !important;
}
.mt-40{
  margin-top: 40px;
}
.margintb-60{
  margin: 60px auto;
}
.margintb-40{
  margin: 40px auto;
}
.marginlr-60{
  margin: auto 60px;
}
.marginlr-40{
  margin: auto 40px;
}
.marginlr-16{
  margin: auto 16px;
}
.paddingt-60{
  padding-top: 60px !important;
}
.paddingt-56{
  padding-top: 56px !important;
}
.paddingtb-60{
  padding-top: 60px;
  padding-bottom: 60px;
}
.paddingtb-58{
  padding-top: 58px;
  padding-bottom: 58px;
}
.paddingtb-56{
  padding-top: 56px;
  padding-bottom: 56px;
}
.paddingtb-48{
  padding-top: 48px;
  padding-bottom: 48px;
}
.paddingtb-40{
  padding-top: 40px;
  padding-bottom: 40px;
}
.paddingtb-12{
  padding-top: 12px;
  padding-bottom: 12px;
}
.paddingtb-2{
  padding-top: 2px;
  padding-bottom: 2px;
}
.paddinglr-60{
  padding-left: 60px;
  padding-right: 60px;
}
.paddinglr-40{
  padding-left: 40px;
  padding-right: 40px;
}
.paddinglr-80{
  padding-left: 80px;
  padding-right: 80px;
}
.paddinglr-16{
  padding-left: 16px;
  padding-right: 16px
}
.paddinglr-6{
  padding-left: 6px;
  padding-right: 6px;
}
.padding-40{
  padding: 40px;
}
.padding-32{
  padding: 32px;
}
.padding-28{
  padding: 28px;
}
.padding-24{
  padding: 24px;
}
.padding-16{
  padding: 16px;
}
.padding-12{
  padding: 12px;
}
.padding-8{
  padding: 8px;
}
.mb-12{
  margin-bottom: 12px;
}
.mb-14{
  margin-bottom: 14px;
}
.mb-20{
  margin-bottom: 20px;
}
.blueButton{
  border: 1px solid var(--mainBlue);
  padding: 12px 20px;
  color: var(--mainWhite) !important;
  background-color: #0064FF;
  border-radius: 8px;
  display: block;
  margin: auto;
font-size: 14px;
font-weight: 700;
line-height: 17px;
letter-spacing: 0em;
text-align: center;

}

.blueButton2{
  border: 1px solid var(--mainBlue);
  padding: 8px 16px;
  color: var(--mainWhite) !important;
  background-color: #0064FF;
  border-radius: 8px;
  display: block;
  margin: auto;
font-size: 14px;
font-weight: 700;
line-height: 17px;
letter-spacing: 0em;
text-align: center;

}
.whiteButton{
  border: 1px solid var(--mainWhite);
  padding: 12px 20px;
  color: var(--mainBlack) !important;
  background-color: var(--mainWhite) !important;
  border-radius: 8px;
  display: block;
  margin: auto;
font-size: 14px;
font-weight: 700;
line-height: 17px;
letter-spacing: 0em;
text-align: center;

}
.transparentButton{
  padding: 10px 16px;
  border: 1px solid var(--mainWhite) !important;
  color: var(--mainWhite) !important;
  background-color: transparent !important;
  border-radius: 8px;
  display: block;
  margin: auto;
font-size: 14px;
font-weight: 700;
letter-spacing: 0em;
text-align: center;
}
.filtersButton{
  padding: 12px !important;
}
.transparentButton2{
  padding: 12px !important;
  border: 1px solid var(--mainBlack) !important;
  color: var(--mainBlack) !important;
  background-color: transparent !important;
  border-radius: 8px;
  /* display: block; */
  /* margin: auto; */
font-size: 14px;
font-weight: 700;
letter-spacing: 0em;
text-align: center;
}
.disabledTransparentButton2{
  padding: 12px !important;
  /* padding: 10px 16px !important; */
  white-space: nowrap !important;
  border: 1px solid var(--gray300) !important;
  color: var(--gray500) !important;
  background-color: transparent !important;
  border-radius: 8px;
  /* display: block; */
  /* margin: auto; */
font-size: 14px;
font-weight: 700;
letter-spacing: 0em;
text-align: center;
}
.blueBorderButton{
  padding: 12px 20px;
  border: 1px solid var(--mainBlue);
  color: var(--mainBlue);
  background-color: transparent;
  border-radius: 8px;
  display: block;
  margin: auto;
font-size: 14px;
font-weight: 700;
line-height: 17px;
letter-spacing: 0em;
text-align: center;
}

.brownButton{
  
  height: 56px;
  width: 100%;
  background-color: var(--mainBrown);
  font-size: 16px;
  font-weight: 700;
  color: var(--mainWhite);
}
.dividerWithoutMargin{
  background-color: var(--lightGray7);
  width: 100%;
  height: 1px;

}
.dottedDivider{
  /* background-color: var(--lightGray7); */
  width: 100%;
  height: 1px;
  /* border: none; */
  border-top: 1px dashed var(--lightGray7);

}
.verticalDivider{
  background-color: var(--NewdarkGray2);
  /* width: 100%; */
  width: 1px;

}
.overflowYScroll{
  overflow-y: scroll;
}


/* Elevation */
.hardElevation{
  box-shadow: 0px 4px 20px 0px #353B4529;

}
.mediumElevation{
  box-shadow: 0px 4px 20px 0px #353B4514;

}

.box-shadow{
  box-shadow: 0px 4px 4px 0px #0F1C2A33;

}
.navbar-brand{
  margin-right: 0px !important;
}
.navbar-brand img {
  /* width: fit-content !important; */
  width: 100px;
  gap: 4px;
  margin-right: 4px;
}

@media (max-width:1024px) {
  .hideOnTab{
    display: none !important;
  }
  .tabView{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  .contentCards, .contentCardsHover{
    width: calc(50% - 20px);
  }
  .visOntab{
    display: block;
  }
  .hideOntab{
    display: none !important;
  }
}
@media (max-width:992px) {
  .nbcc{
    padding-top: 180px !important;
    padding-bottom: 60px;
  }
  .nbcc-plp .allContent {
    margin-top: 140px;
  }
  .nbcc-pdp .paddingtop {
    padding-top: 160px;
}
.navbar-brand .titleText {
  margin: 0 8px 0 8px;
}
  
}
@media (max-width:768px) {
  .subText2{
    /* color: red !important; */
    font-size: 32px;
  }
  .subText3{
    width: auto;
  }
.trendCards{
  padding: 0 5px;
}
  .contentCards, .contentCardsHover{
    width: calc(100%);
  }
  .paddinglr-80{
    padding-left: 40px;
    padding-right: 40px;
  }

  .mt-40{
    margin-top:20px;
  }
  .ml-8{
    margin-left: 8px;
  }
  .pad-20{
    padding: 16px;
  }
  .paddingtb-40{
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .paddinglr-60{
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width:460px) {
  .hideonMob{
    display: none;
  }
  .hideonDesk{
    display: block;
  }
  .paddingtb-48{
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .subText2, .belowsubText2{
    font-size: 20px;
  }
  .subText1{
    font-size: 10px;
  }
  .subText3{
    margin-top: 16px;
  }
  .paddinglr-40{
    padding-left: 16px;
    padding-right: 16px;
  }
  .paddinglr-80{
    padding-left: 16px;
    padding-right: 16px;
  }
}

.relative{
  position: relative;
}
.absolute{
  position: absolute;
}